<!DOCTYPE html>
<html>
<head>
  <title>QAT Dashboard</title>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="qat-dashboard">
  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">
    <div>
      <h1>QAT Dashboard</h1>
    </div>

    <div>
      Sample Text: {{testText}}
    </div>
  </script>
</body>

</html>
