<h1>Test executions</h1>


<%= link_to 'New test execution', new_test_exec_path %>

<h3>Last <%= @num %> test executions</h3>
<table>
  <tr>
    <th>UUID</th>
    <th>Status</th>
  </tr>

  <% @test_execs.each do |test_exec| %>
    <tr>
      <td><%= link_to test_exec.uuid, test_exec_path(test_exec.uuid) %></td>
      <td><%= test_exec.status %></td>
    </tr>
  <% end %>
</table>

