<h1>New test execution</h1>

<%= form_for :test_exec, url: test_execs_path do |f| %>
  <!--<p>-->
    <!--<%= f.label :name %>-->
    <!--<%= f.text_field :name %>-->
  <!--</p>-->

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
