<md-content>
  <md-toolbar class="md-medium-tall md-whiteframe-18dp" layout-align="center">
    <div class="dashboard-heading"><h2 class="md-display-1">QAT Dashboard</h2></div>
  </md-toolbar>
  <div class="md-medium-tall-shadow"></div>

  <br>

  <div layout="column" layout-align="start center" class="dashboard-div" layout-padding>
    <div class="dashboard-item">
      <md-button class="md-raised md-accent" ng-click="vm.requestTestExec();">
        New Test Execution
      </md-button>
    </div>
    <md-card
        class="dashboard-item"
        ng-repeat="testExec in vm.testExecsMap | toArray | orderBy:'uuid':true track by testExec.uuid"
        layout="row" layout-align="center center" layout-wrap
        md-ink-ripple>
      <md-card-content flex ui-sref="testStatus({uuid: testExec.uuid})">
        <div layout="row">
          <div layout="row" layout-xs="column" layout-align="center center" layout-wrap flex>
            <div class="dashboard-item-uuid-time" ng-bind="vm.getDate(testExec) | date:'medium'" flex-xs></div>
            <div class="dashboard-item-counters" flex>
              <span ng-hide="testExec.status==='QUEUED'||testExec.status==='DRYRUN'">
                <div>
                  TOTAL:
                  <span class="dashboard-item-counters-count" ng-bind="testExec.counters.total"></span>
                </div>
                <div>
                  COMPLETED:
                  <span class="dashboard-item-counters-count" ng-bind="testExec.counters.completed || 0"></span>
                </div>
                <span ng-show ="testExec.counters.failed > 0">
                  <div>
                    FAILED:
                    <span class="dashboard-item-counters-count" ng-bind="testExec.counters.failed || 0"></span>
                  </div>
                  <div>
                    SKIPPED:
                    <span class="dashboard-item-counters-count" ng-bind="testExec.counters.skipped || 0"></span>
                  </div>
                </span>
              </span>
            </div>
            <div class="dashboard-item-status-shadow-gt-xs" flex-gt-xs="none" hide-xs></div>
            <div
                hide-xs
                class="dashboard-item-status-gt-xs"
                ng-class="vm.getStatusCssClass(testExec)"
                layout="column" layout-align="center center" layout-fill
                ng-bind="testExec.status">
            </div>
          </div>

          <div class="dashboard-item-status-shadow-xs" hide-gt-xs flex="none"></div>
          <div
              hide-gt-xs
              class="dashboard-item-status-xs"
              ng-class="vm.getStatusCssClass(testExec)"
              layout="row" layout-align="center center" layout-fill>
            <div class="dashboard-item-status-xs-text">
              <span ng-bind="testExec.status"></span>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>
