// Angular Material SCSS shim, used while styling other elements.

// https://github.com/angular/material/blob/master/src/components/card/card.scss#L1
$card-padding: 16px !default;

// https://github.com/angular/material/blob/master/src/components/card/card-theme.scss#L1
$card-border-radius: 2px !default;

// https://github.com/angular/material/blob/master/src/components/toolbar/toolbar.scss#L4
$toolbar-medium-tall-height: 88px !default;
