// // Angular Material Color definitions
// from Angular Material Color Palette: https://www.google.com/design/spec/style/color.html#color-color-palette
$black: #000;
$md-grey-600: #757575;
$md-grey-400: #bdbdbd;
$white: #fff;

$md-amber-400: #ffca28;
$md-cyan-400: #26c6da;
$md-deep-purple-400: #7e57c2;
$md-green-400: #66bb6a;
$md-red-400: #ef5350;

