@import 'angularMaterial.shim';


body {
  font-family: 'Roboto', sans-serif;
}

.md-medium-tall {
  position: fixed;
}

.md-medium-tall-shadow {
  height: $toolbar-medium-tall-height;
}

[md-ink-ripple] {
  position: relative;
}
