@import 'util';
@import 'angularMaterial.shim';


$dashboard-item-status-width: 120px;

.dashboard-heading {
  padding-left: 25px;
}

.dashboard-item {
  position: relative;
  width: 900px;
}

.dashboard-item-uuid-time {
  width: 200px;
}

.dashboard-item-counters {
  @include font-main(#757575, bold);

  div {
    display: inline-block;
  }

  .dashboard-item-counters-count {
    @include font-main(#000, normal);
  }
}

.dashboard-item-status {
  @include font-main(#fff, bold);
  border-radius: 0 $card-border-radius $card-border-radius 0;
  height: 100%;
  line-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: $dashboard-item-status-width;

  @each $status, $color in
  (queued, #bdbdbd),
  (dryrun, #26c6da),
  (executing, #7e57c2),
  (done, #66bb6a),
  (done-with-failed, #ffca28),
  (errored, #ef5350) {
    &.status-#{$status} {
      background-color: $color;
    }
  }
}

.dashboard-item-status-shadow {
  width: $dashboard-item-status-width - $card-padding;
}
