@import '../../../node_modules/angular-material/angular-material';
@import 'angular-material-palette';


$dashboard-md-card-border-radius: 2px;
$dashboard-item-status-gt-xs-width: 120px;
$dashboard-item-status-xs-height: 70px;
$dashboard-item-status-xs-width: 40px;

.dashboard-heading {
  padding-left: 25px;
}

.dashboard-item {
  width: 900px;
}

.dashboard-item-uuid-time {
  text-align: center;
  width: 200px;
}

.dashboard-item-counters {
  color: $md-grey-600;
  font-weight: bold;
  text-align: center;

  div {
    display: inline-block;
    padding: {
      left: 5px;
      right: 5px;
    }
  }

  .dashboard-item-counters-count {
    color: $black;
    font-weight: normal;
  }
}

%dashboard-item-status {
  border-radius: 0 $dashboard-md-card-border-radius $dashboard-md-card-border-radius 0;
  color: $white;
  font-weight: bold;
  height: 100%;
  line-height: 100%;
  position: absolute;
  right: 0;
  top: 0;

  @each $status, $color in
  (queued, $md-grey-400),
  (dryrun, $md-cyan-400),
  (executing, $md-deep-purple-400),
  (done, $md-green-400),
  (done-with-failed, $md-amber-400),
  (errored, $md-red-400) {
    &.status-#{$status} {
      background-color: $color;
    }
  }
}

.dashboard-item-status-gt-xs {
  @extend %dashboard-item-status;

  width: $dashboard-item-status-gt-xs-width;
}

.dashboard-item-status-xs {
  @extend %dashboard-item-status;

  border-radius: 0 $dashboard-md-card-border-radius $dashboard-md-card-border-radius 0;
  height: 100%;
  right: 0;
  top: 0;
  width: $dashboard-item-status-xs-width;

  .dashboard-item-status-xs-text {
    position: relative;
    transform: rotate(-90deg);

    span {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

.dashboard-item-status-shadow-gt-xs {
  width: $dashboard-item-status-gt-xs-width - $card-padding;
}

.dashboard-item-status-shadow-xs {
  height: $dashboard-item-status-xs-height;
  width: $dashboard-item-status-xs-width;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}
