@import 'angularMaterial.shim';


$dashboard-item-status-width: 120px;

.dashboard-heading {
  padding-left: 25px;
}

.dashboard-item {
  width: 900px;
}

.dashboard-item-uuid-time {
  width: 200px;
}

.dashboard-item-counters {
  color: $ng-grey-600;
  font-weight: bold;

  div {
    display: inline-block;
  }

  .dashboard-item-counters-count {
    color: $black;
    font-weight: normal;
  }
}

.dashboard-item-status {
  border-radius: 0 $card-border-radius $card-border-radius 0;
  color: $white;
  font-weight: bold;
  height: 100%;
  line-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: $dashboard-item-status-width;

  @each $status, $color in
  (queued, $ng-grey-400),
  (dryrun, $ng-cyan-400),
  (executing, $ng-deep-purple-400),
  (done, $ng-green-400),
  (done-with-failed, $ng-amber-400),
  (errored, $ng-red-400) {
    &.status-#{$status} {
      background-color: $color;
    }
  }
}

.dashboard-item-status-shadow {
  width: $dashboard-item-status-width - $card-padding;
}
